.main-header {
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 14px 0 18px 0;
    border-top: 0 solid $blue;
    border-top-width: env(safe-area-inset-top, 0);
    width: 100%;
    background: $blue;

    menu {
        display: inline;
    }

    button {
        float: right;
        margin: 0 8px;
    }

    svg {
        width: 26px;
    }
}

h1 {
    display: inline;
    margin: 0 0 0 18px;
    color: $white;
    font-size: 28px;
    line-height: 1;
}
