// ==========================================================================
// FONTS
// ==========================================================================

$font-size: 16px;
$default-font: Helvetica Neue, Helvetica, Arial, sans-serif;

// ==========================================================================
// COLORS
// ==========================================================================
$blue: #009DFF;
$btn-gray: #989898;
$notify: #BD8900;
$white: #fff;
$black: #000;
$txt: #333;
$delete: #cacaca;
$title: #2485C1;
$lines: #9FDAFC;
$deleted: #f55;
$edited: #9f9;
