.notifying {
    #loading-bg {
        display: flex;
    }

    #loading-box {
        display: none;
    }

    #person-selector {
        display: block;
    }

    &.loading {
        #loading-box {
            z-index: 201;
            display: flex;
        }
    }
}

.notified {
    #loading-bg {
        display: flex;
    }

    #loading-box {
        display: flex;

        span {
            display: inline-block;
            margin-left: 10px;
            color: $blue;
            font-weight: bold;
            font-size: 16px;
        }

        svg {
            animation: none !important;
        }
    }
}

#person-selector {
    position: fixed;
    top: 170px;
    z-index: 200;
    display: none;
    margin: 0 10%;
    padding: 0;
    width: 80%;
    background: $white;
    box-shadow: 0 0 10px #333;

    header {
        position: relative;
        padding: 20px 15px;
        border-bottom: 1px solid #ddd;

        h4 {
            margin: 0;
            font-weight: 500;
            font-size: 18px;
        }

        button {
            position: absolute;
            top: 10px;
            right: 10px;
            float: right;
            font-weight: bold;
            font-size: 14px;
            line-height: 1;
        }
    }

    menu {
        margin: 0;
        padding: 0;

        li:first-child {
            border-bottom: 1px solid #ddd;
        }

        button {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 15px;
            width: 100%;
            height: auto;
            text-align: left;
            font-weight: 500;
            font-size: 16px;

            &:active, &:focus {
                background: $blue;
                color: $white;
            }
        }

        img {
            margin-right: 20px;
            border: 1px solid $white;
            border-radius: 50%;
        }
    }
}
