body {
    background: $white;
}

svg {
    fill: $white;
}

ol {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

::-webkit-input-placeholder {
    color: #dfdfdf;
    font-style: italic;
}

::-moz-placeholder {
    color: #dfdfdf;
    font-style: italic;
}

:-ms-input-placeholder {
    color: #dfdfdf;
    font-style: italic;
}
