@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 7, ../scss/base/_normalize.scss */
html {
  font: normal 12.30769px Helvetica Neue, Helvetica, Arial, sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* line 12, ../scss/base/_normalize.scss */
body {
  margin: 0;
}

/* line 16, ../scss/base/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 37, ../scss/base/_normalize.scss */
button,
input {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 51, ../scss/base/_normalize.scss */
button {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 63, ../scss/base/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 75, ../scss/base/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 84, ../scss/base/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 95, ../scss/base/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 107, ../scss/base/_normalize.scss */
input[type="checkbox"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/* line 1, ../scss/base/_base.scss */
body {
  background: #fff;
}

/* line 5, ../scss/base/_base.scss */
svg {
  fill: #fff;
}

/* line 9, ../scss/base/_base.scss */
ol {
  margin: 0;
  padding: 0;
}

/* line 14, ../scss/base/_base.scss */
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 1, ../scss/layout/_header.scss */
.main-header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 18px 0;
  background: #009DFF;
}
/* line 9, ../scss/layout/_header.scss */
.main-header menu {
  display: inline;
}
/* line 13, ../scss/layout/_header.scss */
.main-header button {
  float: right;
  margin: 0 18px;
}
/* line 18, ../scss/layout/_header.scss */
.main-header svg {
  width: 26px;
}

/* line 23, ../scss/layout/_header.scss */
h1 {
  display: inline;
  margin: 0 0 0 18px;
  font-size: 28px;
  line-height: 1;
  color: #fff;
}

/* line 1, ../scss/layout/_footer.scss */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  text-align: center;
  background: linear-gradient(to bottom, #555 0%, #333 100%);
  color: #888;
  z-index: 100;
}
/* line 12, ../scss/layout/_footer.scss */
footer p {
  margin: 0;
}
/* line 16, ../scss/layout/_footer.scss */
footer svg {
  margin: 0 2px;
  width: 12px;
  fill: #989898;
}

/* line 1, ../scss/layout/_lists.scss */
#items {
  list-style: none;
  margin: 64px 0 35px;
  padding: 0;
}
/* line 6, ../scss/layout/_lists.scss */
#items li {
  position: relative;
  display: flex;
  align-items: center;
  height: 28px;
  padding: 20px;
  border-bottom: 1px solid #9FDAFC;
  transition: background .2s ease-in-out;
}
/* line 16, ../scss/layout/_lists.scss */
#items li [type=checkbox] {
  position: absolute;
  left: -9999px;
}
/* line 20, ../scss/layout/_lists.scss */
#items li [type=checkbox] + label {
  position: relative;
  align-self: flex-start;
  width: 12%;
  cursor: pointer;
}
/* line 26, ../scss/layout/_lists.scss */
#items li [type=checkbox] + label:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 25px;
  width: 25px;
  border: 1px solid #009DFF;
  border-radius: 50%;
}
/* line 38, ../scss/layout/_lists.scss */
#items li [type=checkbox]:checked + label:before {
  content: '=';
  background: #009DFF;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
/* line 48, ../scss/layout/_lists.scss */
#items li h2, #items li [type=text] {
  width: 76%;
  padding: 10px 0;
  margin: -2px 0 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #333;
}
/* line 59, ../scss/layout/_lists.scss */
#items li [type=text] {
  display: none;
  border: 0;
  margin: 0;
  outline: none;
}
/* line 66, ../scss/layout/_lists.scss */
#items li button {
  width: 12%;
  text-align: right;
}
/* line 70, ../scss/layout/_lists.scss */
#items li button svg {
  width: 25px;
  fill: #cacaca;
}
/* line 77, ../scss/layout/_lists.scss */
#items li.editing [type=text], #items li.new [type=text] {
  display: block;
}
/* line 81, ../scss/layout/_lists.scss */
#items li.editing h2, #items li.new h2 {
  display: none;
}
/* line 87, ../scss/layout/_lists.scss */
#items li.new button {
  display: none;
}
/* line 92, ../scss/layout/_lists.scss */
#items li.deleted {
  background: #f55;
}
/* line 96, ../scss/layout/_lists.scss */
#items li.edited {
  background: #9f9;
}

/* line 1, ../scss/components/_buttons.scss */
button {
  width: 26px;
  height: 26px;
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

/* line 1, ../scss/components/_preloader.scss */
#loading-bg {
  position: fixed;
  display: none;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background: rgba(0, 0, 0, 0.5);
}
/* line 2, ../scss/components/_preloader.scss */
.loading #loading-bg {
  display: flex;
}

/* line 17, ../scss/components/_preloader.scss */
#loading-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  padding: 15px 0;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 5px #333;
}
/* line 28, ../scss/components/_preloader.scss */
#loading-box span {
  display: none;
}
/* line 32, ../scss/components/_preloader.scss */
#loading-box svg {
  width: 30px;
  fill: #009DFF;
  -webkit-animation: rotating .8s linear infinite;
  animation: rotating .8s linear infinite;
}

/* line 41, ../scss/components/_preloader.scss */
.quiet-loading .reload {
  -webkit-animation: rotating .8s linear infinite;
  animation: rotating .8s linear infinite;
}

/* line 2, ../scss/components/_personSelector.scss */
.notifying #loading-bg {
  display: flex;
}
/* line 6, ../scss/components/_personSelector.scss */
.notifying #loading-box {
  display: none;
}
/* line 11, ../scss/components/_personSelector.scss */
.notifying.loading #loading-box {
  display: flex;
  z-index: 201;
}

/* line 19, ../scss/components/_personSelector.scss */
.notified #loading-bg {
  display: flex;
}
/* line 23, ../scss/components/_personSelector.scss */
.notified #loading-box {
  display: flex;
}
/* line 26, ../scss/components/_personSelector.scss */
.notified #loading-box span {
  display: inline-block;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #009DFF;
}
/* line 34, ../scss/components/_personSelector.scss */
.notified #loading-box svg {
  -webkit-animation: rotating .5s linear .6s;
  animation: rotating .5s linear .6s;
}

/* line 41, ../scss/components/_personSelector.scss */
#person-selector {
  position: fixed;
  top: 170px;
  display: block;
  width: 80%;
  margin: 0 10%;
  padding: 0;
  background: #fff;
  box-shadow: 0 0 10px #333;
  z-index: 200;
}
/* line 52, ../scss/components/_personSelector.scss */
#person-selector header {
  position: relative;
  padding: 20px 15px;
  border-bottom: 1px solid #ddd;
}
/* line 57, ../scss/components/_personSelector.scss */
#person-selector header h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}
/* line 63, ../scss/components/_personSelector.scss */
#person-selector header button {
  position: absolute;
  top: 10px;
  right: 10px;
  float: right;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
}
/* line 74, ../scss/components/_personSelector.scss */
#person-selector menu {
  margin: 0;
  padding: 0;
}
/* line 78, ../scss/components/_personSelector.scss */
#person-selector menu li:first-child {
  border-bottom: 1px solid #ddd;
}
/* line 82, ../scss/components/_personSelector.scss */
#person-selector menu button {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 15px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}
/* line 93, ../scss/components/_personSelector.scss */
#person-selector menu button:active, #person-selector menu button:focus {
  background: #009DFF;
  color: #fff;
}
/* line 99, ../scss/components/_personSelector.scss */
#person-selector menu img {
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 20px;
}

/*
<div id="person-selector">
  <header>
    <h4>Choose your loved one:</h4>
    <button data-trigger-close-modal>X</button>
  </header>
  <menu class="people">
    <li><button class="anna">Anna</button></li>
    <li><button class="lucas">Lucas</button></li>
  </menu>
</div>
*/
