/*--------------------------------------------------
/* Responsive: iPad
-------------------------------------------------- */
@media only screen and (min-width : 768px) {
    #items {
        li {
            h2, [type=text] {
                width: 220%;
            }
        }
    }

    #person-selector {
        margin: 0 25%;
        width: 50%;
    }
}
