footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  text-align: center;
  background: linear-gradient(to bottom, #555 0%,#333 100%);
  color: #888;
  z-index: 100;

  p {
    margin: 0;
  }

  svg {
    margin: 0 2px;
    width: 12px;
    fill: $btn-gray;
  }
}
