#items {
  list-style: none;
  margin: 80px 0 35px;
  padding: 0;

  li {
    position: relative;
    display: flex;
    align-items: center;
    height: 28px;
    padding: 20px;
    border-bottom: 1px solid $lines;

    transition: background .2s ease-in-out;

    [type=checkbox] {
      position: absolute;
      left: -9999px;

      & + label {
        position: relative;
        align-self: flex-start;
        width: 12%;
        cursor: pointer;

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          height: 25px;
          width: 25px;
          border: 1px solid $blue;
          border-radius: 50%;
        }
      }

      &:checked + label:before {
        content: '=';
        background: $blue;
        color: $white;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
      }
    }

    h2, [type=text] {
      width: 76%;
      padding: 10px 0;
      margin: -2px 0 0;
      font-size: 18px;
      font-weight: normal;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: $txt;
    }

    [type=text] {
      display: none;
      border: 0;
      margin: 0;
      outline: none;
    }

    button {
      width: 12%;
      text-align: right;

      svg {
        width: 25px;
        fill: $delete;
      }
    }

    &.editing, &.new {
      [type=text] {
        display: block;
      }

      h2 {
        display: none;
      }
    }

    &.new {
      button {
        display: none;
      }
    }

    &.deleted {
      background: $deleted;
    }

    &.edited {
      background: $edited;
    }
  }
}
