@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  fill: #fff;
}

header {
  height: calc(60px + env(safe-area-inset-top, 60px));
  border-top: 0 solid #009dff;
  border-top-width: env(safe-area-inset-top, 0);
}

main {
  margin-top: calc(5rem + env(safe-area-inset-top, 5rem));
  padding: 0 0.75rem;
}
