@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  fill: #fff;
}

main {
  margin-top: calc(1.5rem + env(safe-area-inset-top, 1.5rem));
  padding: 0 1rem;
}
