.main-header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 34px 0 18px 0;
  background: $blue;

  menu {
    display: inline;
  }

  button {
    float: right;
    margin: 0 18px;
  }

  svg {
    width: 26px;
  }
}

h1 {
  display: inline;
  margin: 0 0 0 18px;
  font-size: 28px;
  line-height: 1;
  color: $white;
}
