#items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 86px 6px 6px;
    padding: 0;
    list-style: none;

    .item {
        position: relative;
        display: flex;
        align-items: center;
        margin: 6px;
        padding: 4px 8px;
        max-width: 390px;
        width: auto;
        height: auto;
        border-radius: 4px;
        background: #09f;
        cursor: pointer;

        transition: background .2s ease-in-out;

        h2,
        [type=text] {
            margin: 0;
            width: auto;
            background: none;
            color: #fff;
            letter-spacing: 0.02em;
            font-size: 18px;
            line-height: 1.2;
        }

        [type=text] {
            display: none;
            margin: 0;
            outline: none;
            border: 0;
            font-weight: normal;
        }

        button {
            margin-left: 12px;
            width: auto;
            height: auto;

            svg {
                width: 20px;
                fill: #fff;
            }
        }

        &.editing,
        &.new {
            width: 100%;

            [type=text] {
                display: block;
                width: 100%;
            }

            h2 {
                display: none;
            }
        }

        &.new {
            button {
                display: none;
            }
        }

        &.deleted {
            overflow: hidden;
            background: $deleted;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &.edited {
            background: #00f;
        }
    }
}
