.showConfirm {
    #loading-bg {
        display: flex;
    }

    #deleteAll-box {
        display: block;
    }
}

#deleteAll-box {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    margin: -59px 0 0 -40%;
    width: 80%;
    border-radius: 4px;
    background: $white;
    box-shadow: 0 2px 5px #333;
    text-align: center;

    h3 {
        margin: 0;
        padding: 30px 12px;
    }

    ol {
        display: flex;
        justify-content: space-around;
    }

    li {
        width: 50%;
        border-top: 1px solid $title;

        &:first-child {
            border-right: 1px solid $title;
        }
    }

    button {
        padding: 20px 0;
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 16px;

        &:focus,
        &:active {
            background: $btn-hover;
        }
    }

    &.showConfirm {
        display: flex;
    }
}
