.notifying {
  #loading-bg {
    display: flex;
  }

  #loading-box {
    display: none;
  }

  &.loading {
    #loading-box {
      display: flex;
      z-index: 201;
    }

    #person-selector {
      display: none;
    }
  }
}

.notified {
  #loading-bg {
    display: flex;
  }

  #loading-box {
    display: flex;

    span {
      display: inline-block;
      margin-left: 10px;
      font-size: 16px;
      font-weight: bold;
      color: $blue;
    }

    svg {
      animation: none !important;
    }
  }
}

#person-selector {
  position: fixed;
  top: 170px;
  display: block;
  width: 80%;
  margin: 0 10%;
  padding: 0;
  background: $white;
  box-shadow: 0 0 10px #333;
  z-index: 200;

  header {
    position: relative;
    padding: 20px 15px;
    border-bottom: 1px solid #ddd;

    h4 {
      margin: 0;
      font-size: 18px;
      font-weight: 500;
    }

    button {
      position: absolute;
      top: 10px;
      right: 10px;
      float: right;
      font-size: 14px;
      font-weight: bold;
      line-height: 1;
    }
  }

  menu {
    margin: 0;
    padding: 0;

    li:first-child {
      border-bottom: 1px solid #ddd;
    }

    button {
      display: flex;
      align-items: center;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 15px;
      font-size: 16px;
      font-weight: 500;
      text-align: left;

      &:active, &:focus {
        background: $blue;
        color: $white;
      }
    }

    img {
      border: 1px solid $white;
      border-radius: 50%;
      margin-right: 20px;
    }
  }
}

/*
<div id="person-selector">
  <header>
    <h4>Choose your loved one:</h4>
    <button data-trigger-close-modal>X</button>
  </header>
  <menu class="people">
    <li><button class="anna">Anna</button></li>
    <li><button class="lucas">Lucas</button></li>
  </menu>
</div>
*/
